@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&display=swap');

.information {
    background-color: rgba(0, 0, 0, 0.329);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease;
}

.infoOpen {
    opacity: 1;
    z-index: 2;
}

.infoContent {
    position: relative;
    background-color: rgba(47, 47, 47, 0.503);
    border-radius: 2rem;
    border: 1px solid rgb(47, 47, 47);
    width: 0%;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 1.5s ease, width 1.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoContentOpen {
    animation: width 1s ease forwards, height 1s ease 1s forwards, overflow 0.1s ease 2s forwards;
}

@keyframes width {
    0% {width: 0%;}
    100% {width: 70%;}
}

@keyframes height {
    0% {height: 1rem;}
    100% {height: 25rem;}
}

@keyframes overflow {
    0% {overflow: hidden;}
    100% {overflow: visible;}
}

.infoContentText {
    color: rgb(236, 244, 255);
    width: 90%;
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    text-align: justify;
    margin-top: 1rem;
}

.infoContenth2 {
    color: rgb(236, 244, 255);
    text-align: center;
    margin-top: 2rem;
    font-family: "Goldman", serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

.closeBTN {
    position: absolute;
    visibility: hidden;
    right: -0.75rem;
    top: -0.75rem;
    z-index: 11;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid rgb(83, 83, 83);
    background-color: rgb(47, 47, 47);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.3s ease;
}

.closeBTN:hover {
    background-color: rgb(21, 21, 21);
}

.closeBTNOpen {
    animation: showBTN 1s ease 2s forwards;
}

@keyframes showBTN {
    0% {
        visibility:hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: rotate(360deg);
    }
}

.infoContentA {
    margin-top: auto;
    margin-bottom: 5%;
    text-decoration: none;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0.3rem;
}

.eleHrefPara {
    font-weight: 600;
    color: white;
    margin: 0.8rem 0.6rem;
    margin-left: 3.5rem;
    flex-shrink: 0;
}

.eleWithArrow {
    height: 85%;
    background-color: #ea5600;
    border-radius: 0.5rem;
    width: 3rem;
    transition: width 0.5s ease;
    position: absolute;
    z-index: 0;
    left: 0.3rem;
    background-image: url('../../public/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.infoContentA:hover .eleWithArrow {
    width: calc(100% - 0.6rem);
    background-repeat: repeat-x;
    animation: moveBG 1.5s linear infinite;
}

@keyframes moveBG {
    0%{
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@media only screen and (max-width: 600px) {
    @keyframes width {
        0% {width: 0%;}
        100% {width: 90%;}
    }
    @keyframes height {
        0% {height: 1rem;}
        100% {height: 30rem;}
    }
}