@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.App {
    background-image: url('../public/bg.png');
    background-size: contain;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(179, 211, 255);
    text-align: center;
    padding-top: 5%;
}

.cardsHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}